
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Light.woff") format("woff"),
  url("/fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-LightItalic.woff") format("woff"),
  url("/fonts/OpenSans-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.woff") format("woff"),
  url("/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Italic.woff") format("woff"),
  url("/fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Semibold.woff") format("woff"),
  url("/fonts/OpenSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-SemiboldItalic.woff") format("woff"),
  url("/fonts/OpenSans-SemiboldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Bold.woff") format("woff"),
  url("/fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-BoldItalic.woff") format("woff"),
  url("/fonts/OpenSans-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

* {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 95%;
	margin-left: auto;
  margin-right: auto;
	max-width: 1168px;
}

.mktoForm,
.mktoHasWidth,
.mktoFormCol {
  width: 100% !important;
}

.mktoFormCol {
  float: none !important;
}

.mktoFieldWrap {
  display: grid !important;
  grid-template-columns: 1fr !important;
  width: 100% !important;
}

.mktoFieldWrap label {
  font-size: 16px !important;
  font-weight: bold !important;
  margin-bottom: 8px !important;
}

.mktoGutter,
.mktoOffset,
.mktoAsterix {
  display: none !important;
}

.mktoTextField,
.mktoEmailField {
  width: 100% !important;
  max-width: 450px !important;
  border-radius: 4px !important;
  padding: 16px 20px !important;
  border: 2px solid #A5A5A5 !important;
}

.mktoEmailField {
  margin-bottom: 16px !important;
}

.mktoButtonWrap {
  margin-left: 0 !important;
  padding-top: 16px !important;
}

.mktoButton {
  width: fit-content !important;
  font-size: 16px !important;
  font-weight: bold !important;
  background-color: #26890D !important;;
  color: #fff !important;
  border-radius: 999px;
  line-height: 1 !important;
  padding: 9px 32px 7px !important;
  border: 1px solid #26890D !important;
  transition: all .3s ease-in-out;
  background-image: none !important;
}

.mktoButton:hover {
  background-color: transparent !important;
  color: #26890D !important;
}