<footer class="footer">
	<div class="container">
		<p>
			© 2021. See <a href="https://www2.deloitte.com/uk/en/legal/legal.html"
				>Terms of Use</a
			> for more information.
		</p>
		<p>
			Deloitte LLP is the United Kingdom affiliate of Deloitte NSE LLP, a member
			firm of Deloitte Touche Tohmatsu Limited, a UK private company limited by
			guarantee (“DTTL”). DTTL and each of its member firms are legally separate
			and independent entities. DTTL and Deloitte NSE LLP do not provide
			services to clients. Please see <a
				href="https://www2.deloitte.com/uk/en/legal/about-deloitte.html"
				>About Deloitte</a
			> to learn more about our global network of member firms.
		</p>
		<p>
			Deloitte LLP is a limited liability partnership registered in England and
			Wales with registered number OC303675 and its registered office at 1 New
			Street Square, London EC4A 3HQ, United Kingdom.
		</p>
	</div>
</footer>
