---
import EofLogo from '../svgs/EofLogo.astro'
---

<section class="container grid grid-cols-1 md:grid-cols-12 gap-8 mb-14 md:mb-20 mt-10 md:mt-[60px]">

  <div class="col-span-full md:col-span-6 md:order-2">
    <div class="max-w-[320px] md:max-w-[515px] mx-auto mix-blend-multiply">
      <video muted playsinline loop autoplay>
          <source src="http://296-CMY-957.mktoweb.com/rs/296-CMY-957/images/eof-video.mp4?version=0" type="video/mp4">
      </video>
    </div>
  </div>

  <div class="col-span-full md:col-span-6 md:order-1">
    <h1 class="max-w-[515px] md:pt-10 lg:pt-20 mb-6 md:mb-10">
      <EofLogo />
    <span class="sr-only">Every Other Friday - Business ideas to move the world</span>
    </h1>

    <div class="flex items-center justify-center">
      <div class="mktoForm" id="heroForm" mktoname="Form"></div>
    </div>
  </div>

  </div>
  
</section>