---
import EofLogo from "../svgs/EofLogo.astro";
---

<section
  class="container grid grid-cols-1 md:grid-cols-12 md:items-center gap-8 mb-14 md:mb-20 mt-10 md:mt-[60px]"
>
  <div class="col-span-full md:col-span-6 md:order-2">
    <div class="max-w-[320px] md:max-w-[515px] mx-auto mix-blend-multiply">
      <video muted playsinline loop autoplay>
        <source
          src="https://ukpages.deloitte.com/rs/676-RGI-700/images/eof-video.mp4?version=0"
          type="video/mp4"
        />
      </video>
    </div>
  </div>

  <div class="col-span-full md:col-span-6 md:order-1">
    <h1 class="mb-6 md:mb-10 font-bold text-2xl md:text-[40px] mktoText" id="heroTitle" mktoName="Hero Title">You have unsubscribed</h1>

    <div class="items-center justify-center">
      <div class="grid grid-cols-1 gap-6 col-span-full sm:col-span-10 md:col-span-8 text-xl md:text-[22px] leading-relaxed mktoText" id="heroText" mktoName="Hero Text">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa doloribus ullam mollitia odio inventore totam dolores eveniet asperiores provident tempora!</p>
      </div>
    </div>
  </div>
</section>
