---
import EofLogo from "../svgs/EofLogo.astro";
---

<section
  class="container grid grid-cols-1 md:grid-cols-12 gap-8 mb-14 md:mb-20 mt-10 md:mt-[60px]"
>
  <div class="col-span-full md:col-span-6 md:order-2">
    <div class="max-w-[320px] md:max-w-[515px] mx-auto mix-blend-multiply">
      <video muted playsinline loop autoplay>
        <source
          src="https://ukpages.deloitte.com/rs/676-RGI-700/images/eof-video.mp4?version=0"
          type="video/mp4"
        />
      </video>
    </div>
  </div>

  <div class="col-span-full md:col-span-6 md:order-1">
    <h1 class="max-w-[515px] md:pt-10 lg:pt-20 mb-6 md:mb-10">
      <EofLogo />
      <span class="sr-only">Every Other Friday - Business ideas to move the world</span>
    </h1>

    <div class="items-center justify-center" style="display: ${hideForm}">
      <script
        is:inline
        src="//ukpages.deloitte.com/js/forms2/js/forms2.min.js"></script>
      <script is:inline>
        MktoForms2.loadForm("//ukpages.deloitte.com", "676-RGI-700", 12418);
        MktoForms2.whenReady(function (form) {
          //Add an onSuccess handler
          form.onSuccess(function (values, followUpUrl) {
            console.log("form successfully submitted");
            //get the form's jQuery element and hide it
            document.querySelector("form").style.display = "none";
            document.getElementById("confirmform").style.visibility = "visible";
            document.getElementById("confirmform").style.width = "100%";
            //return false to prevent the submission handler from taking the lead to the follow up url.
            return false;
          });
        });
      </script>
      <form id="mktoForm_12418"></form>
      <div id="confirmform" style="visibility:hidden; width:0px;">
        <p><strong>Thanks for subscribing!</strong></p>
      </div>
    </div>
  </div>
</section>
