---
import WavePattern from '../svgs/WavePattern.astro'
---

<section class="relative grid pt-10 overflow-hidden">

    <div class="container grid grid-cols-1 gap-6 pb-16">

      <p>Legal text</p>
      </div>

    </div>

    <div class="relative w-[100vw] aspect-[1343/121]">
      <WavePattern />
    </div>

</section>