---
import WavePattern from '../svgs/WavePattern.astro'
---

<section class="relative grid pt-10 overflow-hidden">

    <div class="container grid grid-cols-1 gap-6 pb-16">

      <h2 class="font-bold text-2xl md:text-[32px] mktoText" id="questionsTitle" mktoName="Title">Any questions?</h2>
      <div class="text-xl md:text-[22px] max-w-[765px] leading-normal mktoText" id="questionsText" mktoName="Text">
      <p>Want to ask us something? Or perhaps share an idea or some feedback? We always love hearing from you.</p>
      </div>
      <div class="flex flex-wrap">
        <a href="mailto:everyotherfriday@deloitte.co.uk" class="mt-2 mr-3 bg-accessibleGreen text-offwhite px-8 pt-[13px] pb-[11px] leading-4 border border-solid border-accessibleGreen font-bold text-base hover:bg-offwhite hover:text-accessibleGreen duration-300 transition-all rounded-full mktoString" id="questionsButtonOne" mktoName="Button one">Message us</a>
        <a href="#main" class="mt-2 bg-transparent text-accessibleGreen px-8 pt-[13px] pb-[11px] leading-4 border border-solid border-accesibleGreen font-bold text-base hover:bg-accessibleGreen hover:text-offwhite duration-300 transition-all rounded-full mktoString" id="questionsButtonText" mktoName="Button two">Subscribe now</a>
      </div>

      <div class="pt-10 text-sm">
        <div class="mktoText" id="legalText" mktoName="Legal Text">
          <p><strong class="block mb-2">Your data security is important to us</strong></p>
          <p class="mb-2">This statement covers your consent to receiving the Deloitte Brexit developments newsletter. This newsletter is managed by Deloitte. Deloitte is committed to protecting your information by handling it responsibly and safeguarding it using appropriate technical, administrative and physical security measures.</p>
          <p><strong class="block mb-2">How we use information about you</strong></p>
          <p class="mb-2">We may collect or obtain information about you that you provide to us, that we obtain from third parties or that is publicly available, or which we infer from the way you interact with us. This information about you may include your name, email address, company details and job title. We may process information about you to build and manage our relationship with you, and for event management purposes. </p>
          <p><strong class="block mb-2">Further information</strong></p>
          <p class="mb-2">For more details on how Deloitte handles and shares your information and for details on your rights and how to contact us, please click <a class="text-accessibleGreen underline" href="https://www2.deloitte.com/uk/en/legal/privacy.html">here.</a></p>
        </div>
      </div>

    </div>

    <div class="relative w-[100vw] aspect-[1343/121]">
      <WavePattern />
    </div>

</section>