<section class="container grid grid-cols-1 gap-8 md:grid-cols-12 pb-14 md:pb-20">

  <div class="grid grid-cols-1 gap-6 col-span-full sm:col-span-10 md:col-span-8 text-xl md:text-[22px] leading-snug mktoText" id="simpleTextContent" mktoName="Text">
    <p>The things we read, watch and listen to help us think and act differently.</p>
    <p>Every Other Friday is a newsletter full of ideas about the role business can play in our world.</p>
    <p>Each edition, we’ll share articles, stories and resources to inspire you – just when you need it the most.</p>
    <p>And we’ll drop in your inbox… well, you guessed it.</p>
  </div>
  
</section>