<section class="grid grid-cols-1 md:grid-cols-12 gap-8 pb-12 mb-12 border-t-0 border-b border-l-0 border-r-0 border-solid md:pb-[120px] border-accessibleGreen container">

  <div class="grid grid-cols-1 gap-7 col-span-full sm:col-span-10 md:col-span-8 lg:col-span-5 text-xl md:text-[22px] leading-snug">
    
    <h2 class="font-bold text-2xl md:text-[32px] mb-8 md:mb-12 mktoText" id="stepsTitle" mktoName="Title">What to expect</h2>
    
    <ul class="grid grid-cols-1 gap-8 md:gap-10">
      <li class="relative pl-[40px] md:pl-[100px]">
        <span class="absolute left-0 top-[-2px] text-brightGreen text-[40px] md:text-[80px] font-bold leading-none">1</span>
        <h4 class="mb-1 text-xl font-bold mktoText" id="stepsTitleOne" mktoName="Title one">Things to make you think</h4>
        <div class="text-base mktoText" id="stepsTextOne" mktoName="Text one">
          <p >Articles, videos, books, podcasts and links – we do the hard work for you</p>
        </div>
      </li>
      <li class="relative pl-[50px] md:pl-[100px]">
        <span class="absolute left-0 top-[-2px] text-brightGreen text-[40px] md:text-[80px] font-bold leading-none">2</span>
        <h4 class="mb-1 text-xl font-bold mktoText" id="stepsTitleTwo" mktoName="Title two">About business, in the widest sense</h4>
        <div class="text-base mktoText" id="stepsTextTwo" mktoName="Text two">
          <p>Covering the big topics, but also inspiration from unexpected places</p>
        </div>
      </li>
      <li class="relative pl-[50px] md:pl-[100px]">
        <span class="absolute left-0 top-[-2px] text-brightGreen text-[40px] md:text-[80px] font-bold leading-none">3</span>
        <h4 class="mb-1 text-xl font-bold mktoText" id="stepsTitleThree" mktoName="Title three">Written by real people</h4>
        <div class="text-base mktoText" id="stepsTextThree" mktoName="Text three">
          <p>Carefully curated by our in-house editors – and no spam, ever</p>
        </div>
      </li>
      <li class="relative pl-[50px] md:pl-[100px]">
        <span class="absolute left-0 top-[-2px] text-brightGreen text-[40px] md:text-[80px] font-bold leading-none">4</span>
        <h4 class="mb-1 text-xl font-bold mktoText" id="stepsTitleFour" mktoName="Title four">Bonus content </h4>
        <div class="text-base mktoText" id="stepsTextFour" mktoName="Text four">
          <p>Early previews and exclusive access to subscriber-only opportunities</p>
        </div>
      </li>
    </ul>

  </div>

  <div class="col-span-full md:col-span-4 lg:col-span-7 md:pl-10">
    <div class="w-full md:max-w-[730px] md:mr-[-2.15vw]">
    <img src="http://296-CMY-957.mktoweb.com/rs/296-CMY-957/images/eof-phone.jpg?version=0" alt="">
    </div>

  </div>
  
</section>